{% extends 'base.html' %}

{% block title %}Contacto{% endblock title %}


{% block content %}

    <div class="row">
        <div class="col-md-4 col-sm-offset-4">
            <div class="page-header">
                <h2>Contacta con Nosotros:</h2>
            </div>
            <form method="POST" action="" enctype="multipart/form-data">
                {% csrf_token %}
                <p>{{ form.as_p }}</p>
                <button type="submit" class="btn btn-primary">enviar</button>
            </form>
        </div>
    </div>

{% endblock content %}