{% extends 'base.html' %}

{% block title %}Sobre mi{% endblock title %}


{% block content %}

		
	    <h2><Center> Rumor </Center></h2>
	    <p> <Center>Programa realizado para practicar Django en la asignatura de Programacion Web de 3º de Carrera en la Universidad UCO por el alumno Francisco Arcos
		Realizado en los meses de Octubre, Noviembre y Diciembre del 2015 </Center></p>

		<br><br><br><br>
		<br><br><br><br>
		<br><br><br><br>
		<br><br><br><br>

		<p> Correo electronico de contacto: i32arrof@uco.es </p>
		<p> Gracias por usar este programa </p>

{% endblock content %}